@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    color: #fff;
}

body{
    background: linear-gradient(-45deg, #ff8e6b, #e73c7e, #7428ee, #67f8d6) no-repeat;
    background-size: 300% 300%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center; 
    height: auto; 
    width: 100%;
    animation: gradient 8s ease alternate infinite;
    padding-top: 1%;
    margin-bottom: 1%;
}

main{
    width: 70%;
    height:100%;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1%;
    border-radius: 8px;   
}


.title{
    padding: 1%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.title h1{
    font-size: 300%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0% 3%;
    line-height: 40px;
    padding-bottom: 5px;
}

.content h1{
    margin-bottom: 7px;
}

.content hr{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.icons{
    font-size: 30px;
}

.content .icons a{
    margin-right: 6px;
}

.sub-info{
    font-size: 14px;
    margin-left: 15px;
}

.content .content-obj{
    text-align: justify;
}

@keyframes gradient {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

@media (max-width: 420px){
    main{
        width: 93%;
    }

    .title h1{
        font-size: 250%;
        text-align: center;
        margin-bottom: 2px;
    }

    .content h1{
        font-size: 169%;
    }

    body{
        animation: gradient 5s ease alternate infinite;
    }

}

